{
  "presets": [["@babel/env"], "@babel/react"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@data": "./src/data",
          "@devtools": "./devtools",
          "@assets": "./src/assets",
          "@components": "./src/components",
          "@containers": "./src/containers",
          "@pages": "./src/pages",
          "@sagas": "./src/sagas",
          "@reducers": "./src/reducers",
          "@services": "./src/services"
        }
      }
    ],
    ["styled-components", { "ssr": true, "minify": true }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties",
    "react-hot-loader/babel"
  ]
}
