{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": ["prettier"],
  "extends": ["prettier"],
  "rules": {
    "curly": ["error", "multi-line"],
    "prettier/prettier": [
      "error",
      {
        "printWidth": 150,
        "singleQuote": true
      }
    ]
  }
}
