main{
  background-color: #fff;
  margin-bottom: 100px;
  display: block;
  h1{
    font-family: "Lato-LightItalic", Arial, sans-serif;
    font-size: 71px;
    background: #fff;
    display: block;
    position: relative;
    top: -50px;
    float: left;
    padding: 20px 50px;
    text-transform: uppercase;
  }
  p{
    position: relative;
    top: -25px;
    font-size: 23px;
    color: #666666;
    line-height: 40px;
    font-family: "Lato-Regular", Arial, sans-serif;
  }
}