.time{
  background-color: #fff;
  margin: 45px 0;
  h1{
    font-family: "Lato-LightItalic", Arial, sans-serif;
    font-size: 71px;
    background: #fff;
    display: block;
    position: relative;
    top: -50px;
    float: left;
    padding: 20px 50px;
    text-transform: uppercase;
  }
}

.organizadores{
  .organizador{
    padding: 20px;
    overflow: hidden;
    float: left;
    margin: 0 0 25px 0;
    width: 270px;
    &:hover{
      .thumbnail{
        @include scale3d(1.1,1.1,1);
        &:after,  &:before{
          top:0;
          border-top: 83px solid rgba(255,0,0,.0);
          border-bottom: 0 solid transparent;
        }
        &:after{
          left: 0;
          border-left:  0 solid transparent;
          border-right:42px solid #ffffff;
        }
        &:before{
          right:0;
          border-right: 0 solid transparent;
          border-left: 42px solid #ffffff;
        }
      }
    }


  }
  .thumbnail{
    float: left;
    overflow: hidden;
    position: relative;
    width: 84px;
    height: 84px;
    background-image: $time;
    background-repeat: no-repeat;
    background-size: 100% auto;
    @include transition(transform .4s linear);
    @include scale3d(1,1,1);
    
    &:after,&:before{
      top:0;
      border-top: 92px solid rgba(255,0,0,.3);
      border-bottom: 0 solid transparent;
      content: '';
      position: absolute;
      @include rotate(-180deg);
      @include transition(all .4s linear);
    }

    &:after{
      left: 0;
      border-left:  0 solid transparent;
      border-right:42px solid #ffffff;
    }

    &:before{
      right:0;
      border-right: 0 solid transparent;
      border-left: 42px solid #ffffff;
    }



    &.luri{
      background-position: 0px -500px;
    }
    &.lucas{
      background-position: 0 -420px;
    }
    &.beto{
      background-position: 0 -80px;
    }
    &.andre{
      background-position: 0 0;
    }
    &.pulis{
      background-position: 0 -838px;
    }
    &.carol{
      background-position: 0 -160px;
    }
    &.marlos{
      background-position: 0 -586px;
    }
    &.erick{
      background-position: 0 -250px;
    }
    &.jacob{
      background-position: 0 -335px;
    }
    &.paulo{
      background-position: 0 -755px;
    }
    &.paula{
      background-position: 0 -665px;
    }
    &.giovanni{
      background-position: 0 -916px;
    }
    &.ruy{
      background-position: 0 -1008px;
    }
  }
  .infos{
    float: left;
    margin-left: 20px;
    h2, h3, .organizador-company{
      font-family: "Lato-Regular", Arial, sans-serif;
      display: block;
    }
    h2{
      color: #000000;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: lighter;
    }
    h3{
      color: #666666;
      font-size: 12px;
      margin: 10px 0 5px;
    }
  }
  .organizador-company{
    color: #666666;
    font-size: 12px;
    text-decoration: none;
    margin: 0 0 10px 0;
    display: block;
    @include transition(all .2s ease-in);

    &:hover{
      color: #e62319;
    }
  }
  .organizador-social{
    li{
      margin: 0 15px 0 0;
      display: inline-block;
      vertical-align: middle;
    }
    a{
        @include rotate(0deg);
        @include transition(transform .15s linear);
        display: block;
        height: 0;
        overflow: hidden;
        &.icons-facebook-organizador{
        width: image-width("icons/facebook-organizador.png");
        padding-top: image-height("icons/facebook-organizador.png");
        }
        &.icons-twitter-organizador{
        width: image-width("icons/twitter-organizador.png");
        padding-top: image-height("icons/twitter-organizador.png");
        }
        &:hover{
        @include rotate(360deg);
        }
    }
  }
}

.chamada-facaparte{
  color: #111;
  text-transform: uppercase;
  display: block;
  font-size: 24px;
  font-family: "Lato-Light", Arial, sans-serif;
  margin: 80px 0 100px;
  text-align: center;
}