.about {
  background-image: url('../images/objects/banner.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  height: 835px;
  display: flex;
  align-items: center;
}

.about-container {
  background-image: url('../images/objects/mapa-de-minas.png');
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: contain;
  min-width: 800px;
  height: 652px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.about-content {
  width: 420px;
  margin: 170px 0 0 0;
}

.about-title {
  font-weight: 800;
  font-size: 45px;
  text-transform: uppercase;
  line-height: 2.7rem;
  letter-spacing: -1px;
  margin-bottom: 25px;
  color: #ffffff;
  text-shadow: 1px 1px 2px #000;
}

.about-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2rem;
  margin-bottom: 10px;
  color: #ffffff;
  text-shadow: 1px 1px 2px #000;
}
