.newsletter {
  background-color: #E64C3B;
  padding: 40px 0;
}

.newsletter-form {
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.newsletter-title {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  line-height: 2.5rem;
  color: #ffffff;
  flex: 1;
}

.newsletter-email-input {
  display: block;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 15px;
  font-size: 14px;
  font-family: 'Montserrat-Bold', sans-serif;
  color: #ffffff;
  margin: 0 60px;
  flex: 3;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  text-align: center;

  &::-webkit-input-placeholder { color: #ffffff; }
  &:-moz-placeholder { color: #ffffff; }
  &::-moz-placeholder { color: #ffffff; }
  &:-ms-input-placeholder { color: #ffffff; }

  &:focus {
    box-shadow: 0 0 10px white;
  }
}

.newsletter-action {
  display: block;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 5px;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 14px;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  padding: 15px;
  color: #E64C3B;
  flex: 1;
  cursor: pointer;
  outline: gold;

  &:focus {
    box-shadow: inset 0 0 10px #E64C3B;
  }
}

/*
 * Animation for webkit
*/
@-webkit-keyframes bounce {
    0% {-webkit-transform: translateX(0);}
    20% {-webkit-transform: translateX(15px);}
    40% {-webkit-transform: translateX(-30px);}
    60% {-webkit-transform: translateX(30px);}
    80% {-webkit-transform: translateX(-15px);}
    100% {-webkit-transform: translateX(0);}
}
@keyframes bounce {
    0% {transform: translateX(0);}
    20% {transform: translateX(15px);}
    40% {transform: translateX(-30px);}
    60% {transform: translateX(30px);}
    80% {transform: translateX(-15px);}
    100% {transform: translateX(0);}
}
/*
 * Adding the animation to our element
*/
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

@media screen and (max-width: 1024px) {
  .newsletter {
    padding: 20px 0;
  }

  .newsletter-form {
    flex-direction: column;
  }

  .newsletter-title {
    margin-bottom: 20px;
  }

  .newsletter-title {
    margin-bottom: 20px;
  }

  .newsletter-email-input {
    width: 95%;
    margin-bottom: 20px;
  }

  .newsletter-action {
    width: 95%;
    margin-bottom: 10px;
  }
}
