.offline-alert {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 25px;
  line-height: 1.45rem;
  text-align: center;
  right: 0;
  left: 0;
  background-color: gold;
  z-index: 2000;
  color: #222;
  font-size: 14px;
  border: 0;
  border-bottom: 3px solid #222;
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
  text-align: center;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
  letter-spacing: 0.5;
}

.offline-mode-ready {
  .offline-alert {
    -webkit-animation-name: slideDown;
    animation-name: slideDown;
  }
}


/*
 * Animation for webkit
*/
@-webkit-keyframes slideDown {
  0% {-webkit-transform: translate3d(0,-100%,0);}
  10% {-webkit-transform: translate3d(0,0,0);}
  90% {-webkit-transform: translate3d(0,0,0);}
  100% {-webkit-transform: translate3d(0,-100%,0);}
}

@keyframes slideDown {
  0% {transform: translate3d(0,-100%,0);}
  25% {transform: translate3d(0,0,0);}
  90% {transform: translate3d(0,0,0);}
  100% {transform: translate3d(0,-100%,0);}
}
