/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$como-participar_x = 0px;
$como-participar_y = 758px;
$como-participar_offset_x = 0px;
$como-participar_offset_y = -758px;
$como-participar_width = 937px;
$como-participar_height = 289px;
$como-participar_total_width = 937px;
$como-participar_total_height = 1397px;
$como-participar_image = '../../../public/assets/images/figures.png';
$como-participar = 0px 758px 0px -758px 937px 289px 937px 1397px '../../../public/assets/images/figures.png';
$logo-minadev_x = 0px;
$logo-minadev_y = 384px;
$logo-minadev_offset_x = 0px;
$logo-minadev_offset_y = -384px;
$logo-minadev_width = 170px;
$logo-minadev_height = 170px;
$logo-minadev_total_width = 937px;
$logo-minadev_total_height = 1397px;
$logo-minadev_image = '../../../public/assets/images/figures.png';
$logo-minadev = 0px 384px 0px -384px 170px 170px 937px 1397px '../../../public/assets/images/figures.png';
$minasdev-beer_x = 0px;
$minasdev-beer_y = 1052px;
$minasdev-beer_offset_x = 0px;
$minasdev-beer_offset_y = -1052px;
$minasdev-beer_width = 458px;
$minasdev-beer_height = 345px;
$minasdev-beer_total_width = 937px;
$minasdev-beer_total_height = 1397px;
$minasdev-beer_image = '../../../public/assets/images/figures.png';
$minasdev-beer = 0px 1052px 0px -1052px 458px 345px 937px 1397px '../../../public/assets/images/figures.png';
$proximos-eventos_x = 0px;
$proximos-eventos_y = 559px;
$proximos-eventos_offset_x = 0px;
$proximos-eventos_offset_y = -559px;
$proximos-eventos_width = 338px;
$proximos-eventos_height = 194px;
$proximos-eventos_total_width = 937px;
$proximos-eventos_total_height = 1397px;
$proximos-eventos_image = '../../../public/assets/images/figures.png';
$proximos-eventos = 0px 559px 0px -559px 338px 194px 937px 1397px '../../../public/assets/images/figures.png';
$braziljs_x = 0px;
$braziljs_y = 98px;
$braziljs_offset_x = 0px;
$braziljs_offset_y = -98px;
$braziljs_width = 92px;
$braziljs_height = 32px;
$braziljs_total_width = 937px;
$braziljs_total_height = 1397px;
$braziljs_image = '../../../public/assets/images/figures.png';
$braziljs = 0px 98px 0px -98px 92px 32px 937px 1397px '../../../public/assets/images/figures.png';
$casa-do-codigo_x = 0px;
$casa-do-codigo_y = 222px;
$casa-do-codigo_offset_x = 0px;
$casa-do-codigo_offset_y = -222px;
$casa-do-codigo_width = 165px;
$casa-do-codigo_height = 48px;
$casa-do-codigo_total_width = 937px;
$casa-do-codigo_total_height = 1397px;
$casa-do-codigo_image = '../../../public/assets/images/figures.png';
$casa-do-codigo = 0px 222px 0px -222px 165px 48px 937px 1397px '../../../public/assets/images/figures.png';
$devcast_x = 0px;
$devcast_y = 0px;
$devcast_offset_x = 0px;
$devcast_offset_y = 0px;
$devcast_width = 108px;
$devcast_height = 23px;
$devcast_total_width = 937px;
$devcast_total_height = 1397px;
$devcast_image = '../../../public/assets/images/figures.png';
$devcast = 0px 0px 0px 0px 108px 23px 937px 1397px '../../../public/assets/images/figures.png';
$eventick_x = 0px;
$eventick_y = 28px;
$eventick_offset_x = 0px;
$eventick_offset_y = -28px;
$eventick_width = 107px;
$eventick_height = 29px;
$eventick_total_width = 937px;
$eventick_total_height = 1397px;
$eventick_image = '../../../public/assets/images/figures.png';
$eventick = 0px 28px 0px -28px 107px 29px 937px 1397px '../../../public/assets/images/figures.png';
$frontinbh_x = 0px;
$frontinbh_y = 62px;
$frontinbh_offset_x = 0px;
$frontinbh_offset_y = -62px;
$frontinbh_width = 138px;
$frontinbh_height = 31px;
$frontinbh_total_width = 937px;
$frontinbh_total_height = 1397px;
$frontinbh_image = '../../../public/assets/images/figures.png';
$frontinbh = 0px 62px 0px -62px 138px 31px 937px 1397px '../../../public/assets/images/figures.png';
$jchebly_x = 0px;
$jchebly_y = 135px;
$jchebly_offset_x = 0px;
$jchebly_offset_y = -135px;
$jchebly_width = 116px;
$jchebly_height = 36px;
$jchebly_total_width = 937px;
$jchebly_total_height = 1397px;
$jchebly_image = '../../../public/assets/images/figures.png';
$jchebly = 0px 135px 0px -135px 116px 36px 937px 1397px '../../../public/assets/images/figures.png';
$rccomunicacao_x = 0px;
$rccomunicacao_y = 176px;
$rccomunicacao_offset_x = 0px;
$rccomunicacao_offset_y = -176px;
$rccomunicacao_width = 174px;
$rccomunicacao_height = 41px;
$rccomunicacao_total_width = 937px;
$rccomunicacao_total_height = 1397px;
$rccomunicacao_image = '../../../public/assets/images/figures.png';
$rccomunicacao = 0px 176px 0px -176px 174px 41px 937px 1397px '../../../public/assets/images/figures.png';
$wordcamp_x = 0px;
$wordcamp_y = 275px;
$wordcamp_offset_x = 0px;
$wordcamp_offset_y = -275px;
$wordcamp_width = 90px;
$wordcamp_height = 104px;
$wordcamp_total_width = 937px;
$wordcamp_total_height = 1397px;
$wordcamp_image = '../../../public/assets/images/figures.png';
$wordcamp = 0px 275px 0px -275px 90px 104px 937px 1397px '../../../public/assets/images/figures.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
