/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$braziljs_x = 0px;
$braziljs_y = 92px;
$braziljs_offset_x = 0px;
$braziljs_offset_y = -92px;
$braziljs_width = 92px;
$braziljs_height = 32px;
$braziljs_total_width = 174px;
$braziljs_total_height = 365px;
$braziljs_image = '../../../public/assets/images/partners.png';
$braziljs = 0px 92px 0px -92px 92px 32px 174px 365px '../../../public/assets/images/partners.png';
$casa-do-codigo_x = 0px;
$casa-do-codigo_y = 210px;
$casa-do-codigo_offset_x = 0px;
$casa-do-codigo_offset_y = -210px;
$casa-do-codigo_width = 165px;
$casa-do-codigo_height = 48px;
$casa-do-codigo_total_width = 174px;
$casa-do-codigo_total_height = 365px;
$casa-do-codigo_image = '../../../public/assets/images/partners.png';
$casa-do-codigo = 0px 210px 0px -210px 165px 48px 174px 365px '../../../public/assets/images/partners.png';
$devcast_x = 0px;
$devcast_y = 0px;
$devcast_offset_x = 0px;
$devcast_offset_y = 0px;
$devcast_width = 108px;
$devcast_height = 23px;
$devcast_total_width = 174px;
$devcast_total_height = 365px;
$devcast_image = '../../../public/assets/images/partners.png';
$devcast = 0px 0px 0px 0px 108px 23px 174px 365px '../../../public/assets/images/partners.png';
$eventick_x = 0px;
$eventick_y = 26px;
$eventick_offset_x = 0px;
$eventick_offset_y = -26px;
$eventick_width = 107px;
$eventick_height = 29px;
$eventick_total_width = 174px;
$eventick_total_height = 365px;
$eventick_image = '../../../public/assets/images/partners.png';
$eventick = 0px 26px 0px -26px 107px 29px 174px 365px '../../../public/assets/images/partners.png';
$frontinbh_x = 0px;
$frontinbh_y = 58px;
$frontinbh_offset_x = 0px;
$frontinbh_offset_y = -58px;
$frontinbh_width = 138px;
$frontinbh_height = 31px;
$frontinbh_total_width = 174px;
$frontinbh_total_height = 365px;
$frontinbh_image = '../../../public/assets/images/partners.png';
$frontinbh = 0px 58px 0px -58px 138px 31px 174px 365px '../../../public/assets/images/partners.png';
$jchebly_x = 0px;
$jchebly_y = 127px;
$jchebly_offset_x = 0px;
$jchebly_offset_y = -127px;
$jchebly_width = 116px;
$jchebly_height = 36px;
$jchebly_total_width = 174px;
$jchebly_total_height = 365px;
$jchebly_image = '../../../public/assets/images/partners.png';
$jchebly = 0px 127px 0px -127px 116px 36px 174px 365px '../../../public/assets/images/partners.png';
$rccomunicacao_x = 0px;
$rccomunicacao_y = 166px;
$rccomunicacao_offset_x = 0px;
$rccomunicacao_offset_y = -166px;
$rccomunicacao_width = 174px;
$rccomunicacao_height = 41px;
$rccomunicacao_total_width = 174px;
$rccomunicacao_total_height = 365px;
$rccomunicacao_image = '../../../public/assets/images/partners.png';
$rccomunicacao = 0px 166px 0px -166px 174px 41px 174px 365px '../../../public/assets/images/partners.png';
$wordcamp_x = 0px;
$wordcamp_y = 261px;
$wordcamp_offset_x = 0px;
$wordcamp_offset_y = -261px;
$wordcamp_width = 90px;
$wordcamp_height = 104px;
$wordcamp_total_width = 174px;
$wordcamp_total_height = 365px;
$wordcamp_image = '../../../public/assets/images/partners.png';
$wordcamp = 0px 261px 0px -261px 90px 104px 174px 365px '../../../public/assets/images/partners.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
