/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$betomuniz_x = 0px;
$betomuniz_y = 0px;
$betomuniz_offset_x = 0px;
$betomuniz_offset_y = 0px;
$betomuniz_width = 100px;
$betomuniz_height = 100px;
$betomuniz_total_width = 100px;
$betomuniz_total_height = 100px;
$betomuniz_image = '../../../public/assets/images/team.png';
$betomuniz = 0px 0px 0px 0px 100px 100px 100px 100px '../../../public/assets/images/team.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
