main{
    background-image url("/assets/images/banner.png")
    background-repeat no-repeat
    background-size cover
    background-position center 0
    min-height 935px
}

.mapa-de-minas{
    background-image url("/assets/images/mapa-de-minas.png")
    min-height 820px
    background-repeat no-repeat
    background-position center 90px
    position relative

    .about{
        position absolute
        top 400px
        right 210px
        width 460px

        h1{
            font-family "PN-ExtraBold"
            font-size 45px
            line-height 0.85em
            text-transform uppercase
            color #fff
            margin-bottom 16px
        }

        p{
            font-family "PN-SemiBold"
            font-size 14px
            line-height 1.4em
            color #fff

        }
    }
}