.minasdev-beer{
    background-color #242424
    .container{
        padding 80px 0
    }
    .informacoes{
        display inline-block
        vertical-align middle
        width 610px
        padding-left 55px
    }
    h2{
        display inline-block
        vertical-align middle
        background-position $minasdev-beer_offset_x $minasdev-beer_offset_y
        width $minasdev-beer_width
        height 0
        padding-top $minasdev-beer_height
        overflow hidden
        margin-left 50px
    }
    h3{
        font-family "PN-Black"
        font-size 44px
        text-transform uppercase
        display block
        color #fdb902
        margin-bottom 20px
    }
    h4{
        font-family "PN-SemiBold"
        font-size 14px
        display block
        color #fff
        margin-bottom 45px
    }
    h5{
        font-family "PN-ExtraBold"
        font-size 18px
        text-transform uppercase
        display block
        color #fdb902
        margin-bottom 32px
    }
    h6{
        font-family "PN-Black"
        font-size 44px
        text-transform uppercase
        display block
        color #fff
        &:after{
            display block
            content ''
            width 100px
            height 5px
            margin 12px 0 14px
            background-color #fdb902
        }
    }
    .local{
        font-family "PN-ExtraBold"
        font-size 14px
        text-transform uppercase
        display block
        color #fdb902
        margin-bottom 12px
    }
    p, .mais-infos{
        font-family "PN-SemiBold"
        font-size 12px
        display block
        color #fff
        margin-bottom 4px
    }
    .mais-infos{
        margin-top 14px
    }
    a{
        text-decoration none
        font-family "PN-SemiBold"
        color #fdb902
        display block
        font-size 12px
        margin-top 6px
        font-style italic
    }
}