.nossos-projetos{
    padding-top 200px
    background-color #242424
    h2{
        font-family "PN-Black"
        font-size 44px
        text-transform uppercase
        display block
        color #e8422f
        padding-left 55px
        &:after{
            display block
            content ''
            width 100px
            height 5px
            margin 25px 0 40px
            background-color #e8422f
        }
    }
}

.projetos{
    article{
        display inline-block
        vertical-align top
        width 265px
        margin 0 55px
        &.devincompany, &.devinuniversity{
            figure{
                img{
                    top 49px
                    left 42px
                }
            }

        }
        &.acessibilidadeurbana{
            figure{
                img{
                    top 27px
                    left 48px

                }
            }

        }
    }
    figure{
        display block
        background-color #f3f3f3
        position relative
        border-radius 3px
        overflow hidden
        width 262px
        height 150px
        margin-bottom 25px
        img{
            display block
            position absolute
        }
    }
    h3{
        font-family "PN-ExtraBold"
        text-transform uppercase
        display block
        color #fff
        font-size 14px
        &:after{
            display block
            content ''
            width 50px
            height 3px
            margin 14px 0
            background-color #e8422f
        }
    }
    p{
        font-family "PN-SemiBold"
        display block
        color #fff
        font-size 12px
        &:after{
            display block
            content ''
            width 50px
            height 1px
            margin 16px 0
            background-color #343434
        }

    }
    .site{
        font-family "PN-SemiBold"
        color #e8422f
        font-style italic
        font-size 12px
        display block
        margin-bottom 30px
        text-decoration none
    }
    .idealizadores{
        margin-bottom 25px
        ul{
            display block
        }
        li{
            display inline-block
            vertical-align middle
        }
        a{
            width 45px
            height 0
            overflow hidden
            border-radius 100%
            padding-top 45px
            background-size 100% auto
            display block
            margin 2px
        }
    }
    button{
        font-family "PN-Bold"
        font-size 10px
        border 1px solid #fff
        background-color transparent
        cursor pointer
        padding 10px
        text-transform uppercase
        text-align center
        display block
        color #fff
        border-radius 5px
        width 100%
        margin-bottom 65px
        &:hover{
            color #e8422f
            border 1px solid #e8422f
        }
    }
}