.about {
  background-image: url("/assets/images/mapa-de-minas.png");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: contain;
  max-width: 960px;
  height: 652px;
  margin: $container-center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  top: -45px;

  &__title {
    font-family: $font-extrabold;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 3.2rem;
    letter-spacing: -1px;
    margin: 45px 0 25px;
    color: $white;
    text-shadow: $text-shadow;
    max-width: 500px;
  }

  &__description {
    font-family: $font-bold;
    font-size: 1rem;
    line-height: 1.4rem;
    color: $white;
    text-shadow: $text-shadow;
    max-width: 500px;
    letter-spacing: 0.3px;
  }
}

@media screen and (max-width: $tablet-query) {
  .about {
    max-width: 600px;
    height: 489px;

    &__title {
      font-size: 2.2rem;
      line-height: 2.6rem;
      margin-bottom: 15px;
      max-width: 365px;
    }

    &__description {
      font-size: 0.75rem;
      line-height: 1rem;
      max-width: 365px;
    }
  }
}

@media screen and (max-width: $mobile-query) {
  .about {
    max-width: 100%;
    height: auto;
    padding: 0 20px;
    align-items: flex-start;
    top: 0;
    margin-bottom: 50px;

    &__title {
      font-size: 1.7rem;
      line-height: 2rem;
      margin-bottom: 15px;
      max-width: 100%;
    }

    &__description {
      font-size: 0.7rem;
      line-height: 1rem;
      max-width: 100%;
    }
  }
}
