.button {
  border-radius: $radius;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 15px 45px;
  text-transform: uppercase;

  &--white {
    background-color: $white;
    color: $red;
  }
}
