.event {
  display: flex;
  flex-direction: column;

  &__date {
    display: block;
    font-family: $font-black;
    font-size: 2.5rem;
    color: $black;

    &:after {
      display: block;
      content: "";
      width: 100%;
      height: 3px;
      background-color: $red;
      margin: 8px 0;
    }
  }

  &__name {
    display: block;
    font-family: $font-black;
    font-size: 0.95rem;
    line-height: 1.3rem;
    color: $black;
    text-transform: uppercase;
    margin-bottom: 8px;
    overflow: hidden;
  }

  &__community {
    font-family: $font-bold;
    font-size: 0.7rem;
    color: $light-black;
    margin-bottom: 10px;
    max-width: 65%;
  }

  &__link {
    align-self: baseline;
    font-family: $font-bold;
    font-size: 0.75rem;
    font-style: italic;
  }
}

@media screen and (max-width: $mobile-query) {
  .event {
    &__date {
      font-size: 2rem;
    }

    &__name {
      font-size: 0.85rem;
      line-height: 1.2rem;
    }

    &__link {
      font-size: 0.65rem;
    }
  }
}
