.events {
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 20px;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    &-text {
      font-family: $font-black;
      font-size: 3.5rem;
      text-transform: uppercase;
      line-height: 3.6rem;
      color: $red;
    }
  }

  &__cta {
    font-family: $font-light;
    text-align: center;
    font-size: 0.95rem;
    line-height: 1rem;
    display: inline-block;
    vertical-align: middle;
    color: $black;
  }

  &__cta-link {
    font-size: 0.95rem;
    font-family: $font-bold;
  }

  &__list {
    margin: $container-center;
    width: $container-width;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 40px 20px 30px;
  }
}

@media screen and (max-width: $tablet-query) {
  .events {
    &__list {
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

@media screen and (max-width: $mobile-query) {
  .events {
    &__title {
      flex-direction: column;

      &-icon {
        &:nth-child(3) {
          display: none;
        }

        width: 30px;
        height: 30px;
        margin: 0 0 20px;
      }

      &-text {
        font-size: 2rem;
        line-height: 2rem;
        text-align: center;
      }
    }

    &__cta {
      font-size: 0.85rem;
      line-height: 1.5rem;
    }

    &__list {
      width: 100%;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
    }
  }
}
