.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 13px;
  background-color: $black;
  position: relative;

  &__copyright {
    font-family: $font-bold;
    font-size: 0.95rem;
    line-height: 1rem;
    color: $white;
    text-shadow: $text-shadow;
  }

  &::after {
    content: "";
    height: 3px;
    width: 100%;
    background-color: $red;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@media screen and (max-width: $mobile-query) {
  .footer {
    &__copyright {
      font-size: 0.85rem;
    }
  }
}
