.input {
  border-radius: $radius;
  border: 1px solid transparent;
  display: inline-block;
  padding: 15px;
  width: 100%;

  &--outline {
    background-color: transparent;
  }

  &--white {
    border: 1px solid $white;
    caret-color: $white;
    color: $white;

    &::-webkit-input-placeholder {
      color: $white;
    }

    &:-moz-placeholder {
      color: $white;
    }

    &::-moz-placeholder {
      color: $white;
    }

    &:-ms-input-placeholder {
      color: $white;
    }
  }
}
