::-moz-selection {
  color: #ffffff;
  background-color: $red;
}

::selection {
  color: #ffffff;
  background-color: $red;
}

body {
  font-family: $font-regular;
  background-color: $red;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.screen-reader-content {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
