.navigation {
  &__list {
    width: 170px;
  }

  &__item {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin-bottom: 18px;

    &:last-child {
      margin: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: $white;
    font-family: $font-bold;
    text-shadow: $text-shadow;
    font-size: 1rem;
    line-height: 1.2rem;
    padding: 0 2px;
    letter-spacing: 0.5px;

    &:hover {
      color: $light-red;
    }
  }
}

@media screen and (max-width: $mobile-query) {
  .navigation {
    &__list {
      margin-top: 10px;
    }

    &__item {
      margin-bottom: 15px;
    }

    &__link {
      font-size: 0.9rem;
      line-height: 1.1rem;
    }
  }
}
