.newsletter {
  align-items: center;
  background-color: $red;
  display: flex;
  justify-content: center;
  padding: 30px 0 40px;

  &__form {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: $container-center;
    max-width: $container-width;
    padding: $container-gutter;
  }

  &__title {
    color: $white;
    font-family: $font-black;
    font-size: 2.2rem;
    line-height: 2.5rem;
    text-transform: uppercase;
  }

  &__actions {
    margin: 0 60px;
    text-align: center;
  }

  &__email {
    font-family: $font-bold;
    font-size: 0.88rem;
    text-align: center;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    letter-spacing: 0.3px;

    &--error {
      -webkit-animation-name: newsletterError;
      animation-name: newsletterError;
    }
  }

  &__contribution-cta {
    display: inline-block;
    text-decoration: none;
    line-height: 1rem;
    font-size: 0.95rem;
    font-family: $font-regular;
    margin: 0 0 20px;
    color: $white;
    letter-spacing: 0.1px;
  }

  &__signup-action {
    font-family: $font-bold;
    font-size: 0.88rem;
  }
}

.offline-mode {
  .newsletter {
    display: none;
  }
}

@-webkit-keyframes newsletterError {
  0% {
    -webkit-transform: translateX(0);
  }

  20% {
    -webkit-transform: translateX(15px);
  }

  40% {
    -webkit-transform: translateX(-30px);
  }

  60% {
    -webkit-transform: translateX(30px);
  }

  80% {
    -webkit-transform: translateX(-15px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes newsletterError {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(15px);
  }

  40% {
    transform: translateX(-30px);
  }

  60% {
    transform: translateX(30px);
  }

  80% {
    transform: translateX(-15px);
  }

  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: $tablet-query) {
  .newsletter {
    &__form {
      flex-direction: column;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__actions,
    &__contribution-cta {
      margin: 0 0 20px;
    }
  }
}

@media screen and (max-width: $mobile-query) {
  .newsletter {
    padding: 20px 0;
  }
}
