.parallax {
  &--header {
    background-image: url("/assets/images/background.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    position: fixed;
    height: 822px;
    width: 100%;
  }

  &--body {
    position: relative;
    top: 822px;
  }
}

@media screen and (max-width: $tablet-query) {
  .parallax {
    &--header {
      height: 659px;
    }

    &--body {
      top: 659px;
    }
  }
}

@media screen and (max-width: $mobile-query) {
  .parallax {
    &--header {
      height: 400px;
    }

    &--body {
      top: 400px;
    }
  }
}
