header{
  background-color:rgba(#000, 0.33);
  padding: 35px 0;
  h1{
    width: 140px;
    height: 0;
    padding-top: 140px;
    overflow: hidden;
    background: image-url("logo-minasdevorg.png") no-repeat center 0;
    background-size: 140px 140px;
    &:active{
      -webkit-animation: bounce .3s ease-out;
      -moz-animation: bounce 300ms ease-out;
      animation: bounce .3s ease-out;
     @include transition(transform .4s ease);
    }
  }
  nav{
    text-align: center;
    width: 680px;
    li{
      margin: 0 24px;
    }
    a{
      display: block;
      font-size: 20px;
      font-family: "Lato-Regular", Arial, sans-serif;
      color: #fff;
      font-style: italic;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0 6px 0;
      border-bottom: 2px solid transparent;
      &:hover{
        border-bottom: 2px solid #fff;
      }
    }
  }
}

.socials-minasdev{
  li{
      margin: 0 15px;
  }
  .social-footer-icons{
      opacity:0.5;
      @include transition(opacity .2s linear);
      display: block;
      height: 0;
      overflow: hidden;
      &.icons-facebook-minasdev{
      width: image-width("icons/facebook-minasdev.png");
      padding-top: image-height("icons/facebook-minasdev.png");
      }
      &.icons-twitter-minasdev{
      width: image-width("icons/twitter-minasdev.png");
      padding-top: image-height("icons/twitter-minasdev.png");
      }
      &:hover{
        opacity:1;
      }
  }
}

@-webkit-keyframes bounce {
  0% {
      @include transform(scale3d(1,1,1) rotate(-0deg));
  }
  50% {
      @include transform(scale3d(1.1,1.1,1) rotate(-3deg));
  }
  100% {
      @include transform(scale3d(1,1,1) rotate(-0deg));
  }
}
@-moz-keyframes bounce {
  0% {
      @include transform(scale3d(1,1,1) rotate(-0deg));
  }
  50% {
      @include transform(scale3d(1.1,1.1,1) rotate(-3deg));
  }
  100% {
      @include transform(scale3d(1,1,1) rotate(-0deg));
  }
}
@keyframes bounce {
  0% {
      @include transform(scale3d(1,1,1) rotate(-0deg));
  }
  50% {
      @include transform(scale3d(1.1,1.1,1) rotate(-3deg));
  }
  100% {
      @include transform(scale3d(1,1,1) rotate(-0deg));
  }
}