/* RESET */
*{
  margin:0;
  padding:0;
}

/* GERAL */

body {
  background-color:#242424;
  color:#232323;
  font: 14px 'proxima_novasemibold';
  text-align: center;
}

h2 {
  font: normal 35px 'proxima_novablack';
  margin-bottom:16px;
  text-transform: uppercase;
}

h3,
h4 {
  font-weight: normal;
  margin-bottom:10px;
}

p { margin-bottom:10px; }
a { color:#E7412F;      }

a:hover{ color:#fff;    }

.title-evento {
  font: normal 14px 'proxima_novaextrabold';
  margin-bottom:10px;
  text-transform: uppercase;
}

.yellow{ color: #FDB801; }

a.link-italic{
  font-style:italic;
  font-size: 12px;
}

a:hover.link-italic{ color: #000; }

.date {
  border-bottom: 4px solid #ff4b37;
  display: block;
  font: 44px 'proxima_novablack';
  margin: 10px 0;
  width: 69px;
}
.date-yellow{ border-bottom: 4px solid #FDB801; }

.clear{
  clear: both;
}

.container {
  margin:0 auto;
  text-align:left;
  width:1040px;
}

.separador { margin-bottom:10px; }

/* Topo - Menu */
.header {
  background-color: #fff;
  height: 100px;
}

.topo {
  margin:0 auto;
  position: relative;
  width:960px;
}

.logo {
  background-image: url(../images/logo.png);
  height: 165px;
  position: absolute;
  width: 165px;
  z-index: 10;
}

ul.menu{
  float:right;
  margin-top:45px;
}

ul.menu li{
  float:left;
  list-style:none;
  margin-right:25px;
}

.menu li:last-of-type { margin: 0px; }
.menu li a {
  color: #000;
  font: bold 13px  'proxima_nova_rgbold';
  text-decoration: none;
  text-transform: uppercase;
}

.menu li a:hover{
  border-bottom: 2px solid #000;
  color: #E7412F;
}

.mapa {
  background: url(../images/mapa.jpg) no-repeat center center;
  height: 932px;
  position: relative;
  width: 100%;
  z-index: 5;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.entry-text {
  position: absolute;
  width: 458px;
  right: 298px;
  top: 400px;
}

.mapa .headline {
  color: #fff;
  font: 45px/45px 'proxima_novaextrabold';
  margin-bottom: 10px;
  text-transform: uppercase;
  line-height: 35px;
}

.mapa  p {
  color: #fff;
  font: 14px/18px 'proxima_novasemibold';
}

/* PROJETOS */
.projetos{
  margin: 60px 0px;
}

.projetos h1{
  margin-bottom:16px;
  margin-left: 40px;
  color:#E7412F;
  font-size:45px;
  font-family: 'proxima_novablack';
  font-weight: normal;
  text-transform: uppercase;
}

.line{
  margin-top: 10px;
  width: 170px;
  border-bottom: 4px solid #E7412F;
}

.box-projeto {
  width: 262px;
  float: left;
  padding: 30px 40px;
  color: #fff;
}

.box-projeto h3{
  margin-top: 15px;
  font: normal 14px 'proxima_novaextrabold';
  text-transform: uppercase;
}

.box-projeto h3 .line{
  width: 80px;
  border-bottom: 3px solid #E7412F;
}

.box-projeto p{
  font: normal 12px 'proxima_novasemibold';
}

.box-projeto .link a{
  width: 80px;
  margin-top: 15px;
  margin-bottom: 25px;
  padding-top: 15px;
  display: block;
  font: italic 12px 'proxima_novasemibold';
  text-decoration: none;
  border-top: 1px solid #333333;
}

.box-avatar img{
  margin: 5px;
  float: left;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

.box-avatar img:nth-child(3n+1){
  margin-left: 0px;
}

a.btn-projeto {
  margin: 30px 0px;
  padding: 10px 10px;
  display: block;
  border: 1px solid #939393;
  font: normal 10px 'proxima_novasemibold';
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

a:hover.btn-projeto{
  color: #E7412F;
  border: 1px solid #E7412F;
}

/* INÍCIO EVENTOS */

.eventos{
  background-color:#fff;
  height:525px;
}

.logo-eventos{
  float:left;
  margin:140px 0 0 0;
  vertical-align: center;
  width:338px;
  height:194px;
  background: url('../images/eventos.png') no-repeat;
}

.logo-eventos img{ margin-top: 170px; }

.lista-eventos {
  float:right;
  list-style: none;
  margin-top:75px;
  width:550px;
}

.lista-eventos li {
  float:right;
  height:170px;
  margin:0 0 50px 40px;
  width:235px;
}

/* DEV-BEER */
.dev-beer{
  color:#fff;
  height: 540px;
}

.dev-beer-texto{
  float:left;
  margin-top:82px;
  width:480px;
}

.dev-beer-image{
  float:right;
  height:345px;
  width:460px;
}

.dev-beer-image {
  background: url('../images/dev-beer.png') no-repeat; 
  margin-top:80px;
}

.title-dev-beer { color: #FDB801; }

.title-chamada {
  font-size:18px;
  text-transform: uppercase;
}

/* NEWSLETTER */

.newsletter{
  background-color:#E7412F;
  height:107px;
}


.form-news fieldset{ 
  width:1040px;
  border:none;
  margin-top:33px;
}

.form-news legend{
  color:#fff;
  float:left;
  text-transform: uppercase;
  margin-right:90px;
  font: normal 35px 'proxima_novablack';
}
.form-news {
  float:right;
  
}

.input-news {
  border: 1px solid #fff;
  background-color: #E7412F;
  color: #fff;
  margin-right:30px;
  padding:14px;
  width:460px;
  -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
        border-radius: 3px;
}

::-webkit-input-placeholder {
   color: #fff;
   font: normal 14px 'proxima_novasemibold';
}

:-moz-placeholder {
   color: #fff;
   font: normal 14px 'proxima_novasemibold';
}

::-moz-placeholder {
   color: #fff;  
   font: normal 14px 'proxima_novasemibold';
}

:-ms-input-placeholder {  
   color: #fff;  
   font: normal 14px 'proxima_novasemibold';
}

.btn {
  border:none;
  padding:14px 40px;
  text-transform: uppercase;
  font-weight:bold;
}

.btn-news {
  background-color: #fff;
  color: #E7412F;
  font-size: 14px;
  font-weight: bold;
  width:165px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

/* PARCEIROS */
.parceiros {
  height:480px;
  text-align: center;
  padding: 0;
}

.title-parceiros {
  color:#fff;
  margin:113px 0 74px 0;
  text-align: center;
}

.lista-parceiros {
  border-bottom:1px solid #E7412F;
  list-style: none;
  height:300px;
}

.lista-parceiros li {
    float:left;
    margin-right:42px;
    
}
.icon-parceiros{
   background: url(../images/parceiros/parceiros.png) no-repeat top left;
   height:104px;
   width:1622px;
}
.sprite-braziljs{ background-position: 0 0; width: 166px; height: 104px; } 
.sprite-casa-do-codigo{ background-position: -208px 0; width: 166px; height: 104px; } 
.sprite-devcast{ background-position: -416px 0; width: 166px; height: 104px; } 
.sprite-eventick{ background-position: -624px 0; width: 166px; height: 104px; } 
.sprite-frontinbh{ background-position: -832px 0; width: 166px; height: 104px; } 
.sprite-jchebly{ background-position: -1040px 0; width: 166px; height: 104px; } 
.sprite-rc{ background-position: -1248px 0; width: 166px; height: 104px; } 
.sprite-wordcamp2014{ background-position: -1456px 0; width: 166px; height: 104px; } 


.lista-parceiros li a { display: block; text-indent: -9999px;}

.recuo { margin-left:125px; }

/* FOOTER */

.footer {
  color:#fff;
  height:315px;
}

.title-footer { color: #E7412F; }

.footer-left {
  float:left;
  width:350px;
}

.footer-right { float:right; }
.share {
  display: block;
  margin:75px 0 20px 0;
}

.share li {
  display: inline-block;
  list-style: none;
}

.share li a {
  display: block;
  height:32px;
  margin-left:30px;
  overflow: hidden;
  vertical-align: middle;
  text-indent: -999px;
  width:32px;
}

.icon {
  background: url('../images/redes-footer.png') no-repeat top left;
  height:32px;
  width:160px;
}

.icon-facebook {
  background-position: 0 0;
  height: 32px;
  width: 32px;
}

.icon-facebook:hover {
  background-position: 0 -32px;
  height: 32px;
  width: 32px;
}

.icon-google {
  background-position: -64px 0;
  height: 32px;
  width: 32px;
}

.icon-google:hover {
  background-position: -64px -32px;
  height: 32px;
  width: 32px;
}

.icon-twitter {
  background-position: -128px 0;
  height: 32px;
  width: 32px;
}

.icon-twitter:hover {
  background-position: -128px -32px;
  height: 32px;
  width: 32px;
}

.copyright { float:right; }
