/* Colors */
$red: #e64c3b;
$light-red: lighten($red, 3);
$black: #242424;
$light-black: lighten($black, 15);
$white: #ffffff;
$yellow: gold;

/* Fonts */
$font-light: "Montserrat-Light", sans-serif;
$font-regular: "Montserrat-Regular", sans-serif;
$font-bold: "Montserrat-Bold", sans-serif;
$font-extrabold: "Montserrat-ExtraBold", sans-serif;
$font-black: "Montserrat-Black", sans-serif;

/* Layout */
$container-width: 1024px;
$container-center: 0 auto;
$container-gutter: 0 20px;
$tablet-query: 1023px;
$tablet-container-width: 1024px;
$tablet-container-center: 0 auto;
$tablet-container-gutter: 0 20px;
$mobile-query: 767px;
$mobile-container-width: 1024px;
$mobile-container-center: 0 auto;
$mobile-container-gutter: 0 20px;

/* Helpers */
$radius: 5px;
$text-shadow: 1px 1px 2px #000000;
