$red: #E64C3B;
$black: #242424;
$white: #ffffff;
$font-light: 'Montserrat-Light', sans-serif;
$font-regular: 'Montserrat-Regular', sans-serif;
$font-bold: 'Montserrat-Bold', sans-serif;
$font-extrabold: 'Montserrat-ExtraBold', sans-serif;
$font-black: 'Montserrat-Black', sans-serif;
