.footer-page{
    background-color #242424
    padding-bottom 45px
    .container{
        padding 0 55px
    }
    .pushto-left{
        width 360px
    }
    .pushto-right{
        width 165px
    }
    .contact-title {
        font-family "PN-Black"
        font-size 35px
        text-transform uppercase
        display block
        color #e8422f
        margin 45px 0 20px 0
    }
    .contact-desc, .copyright {
        font-family "PN-SemiBold"
        font-size 14px
        display block
        color #fff
        line-height 20px
        .contact-link {
            color #e8422f
            text-decoration none
        }
    }
    .minasdev-socials{
        padding 70px 0 50px 0
        .minasdev-social{
            margin 0 12px
        }
    }
    .copyright{
        display block
        text-align center
    }
}