header {
    background-color #fff

    .container{
        position relative
    }

    h1 {
        display block
        position absolute
        left 0
        top 0

        a {
            display block
            overflow hidden
            height 0
            width $logo-minadev_width
            padding-top $logo-minadev_height
            background-position $logo-minadev_offset_x $logo-minadev_offset_y
        }
    }

    nav {
        ul {
            display block
            margin-left 270px
        }

        li {
            display inline-block
            vertical-align middle
            margin 50px 20px
        }

        a {
            display block
            font-family "PN-Bold"
            font-size 13px
            text-transform uppercase
            text-decoration none
            color #1e1e1e
        }
    }
}