.header-page {
    background-color #fff
    position fixed
    width 100%
    z-index 4

    .container{
        position relative
    }

    .logo {
        display block
        position absolute
        left 0
        top 0

        .logo-link {
            display block
            overflow hidden
            height 0
            width $logo-minadev_width
            padding-top $logo-minadev_height
            background-position $logo-minadev_offset_x $logo-minadev_offset_y
        }
    }

    .navigation {
        .navigation-container {
            display block
            margin-left 270px
        }

        .navigation-item {
            display inline-block
            vertical-align middle
            margin 50px 20px
        }

        .navigation-link {
            display block
            font-family "PN-Bold"
            font-size 13px
            text-transform uppercase
            text-decoration none
            color #1e1e1e
        }
    }
}