/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$facebook_name = 'facebook';
$facebook_x = 64px;
$facebook_y = 0px;
$facebook_offset_x = -64px;
$facebook_offset_y = 0px;
$facebook_width = 15px;
$facebook_height = 32px;
$facebook_total_width = 94px;
$facebook_total_height = 94px;
$facebook_image = '../../../public/assets/images/icons.png';
$facebook = 64px 0px -64px 0px 15px 32px 94px 94px '../../../public/assets/images/icons.png' 'facebook';
$facebook_hover_name = 'facebook_hover';
$facebook_hover_x = 79px;
$facebook_hover_y = 0px;
$facebook_hover_offset_x = -79px;
$facebook_hover_offset_y = 0px;
$facebook_hover_width = 15px;
$facebook_hover_height = 32px;
$facebook_hover_total_width = 94px;
$facebook_hover_total_height = 94px;
$facebook_hover_image = '../../../public/assets/images/icons.png';
$facebook_hover = 79px 0px -79px 0px 15px 32px 94px 94px '../../../public/assets/images/icons.png' 'facebook_hover';
$google_plus_name = 'google-plus';
$google_plus_x = 0px;
$google_plus_y = 0px;
$google_plus_offset_x = 0px;
$google_plus_offset_y = 0px;
$google_plus_width = 32px;
$google_plus_height = 28px;
$google_plus_total_width = 94px;
$google_plus_total_height = 94px;
$google_plus_image = '../../../public/assets/images/icons.png';
$google_plus = 0px 0px 0px 0px 32px 28px 94px 94px '../../../public/assets/images/icons.png' 'google-plus';
$google_plus_hover_name = 'google-plus_hover';
$google_plus_hover_x = 32px;
$google_plus_hover_y = 0px;
$google_plus_hover_offset_x = -32px;
$google_plus_hover_offset_y = 0px;
$google_plus_hover_width = 32px;
$google_plus_hover_height = 28px;
$google_plus_hover_total_width = 94px;
$google_plus_hover_total_height = 94px;
$google_plus_hover_image = '../../../public/assets/images/icons.png';
$google_plus_hover = 32px 0px -32px 0px 32px 28px 94px 94px '../../../public/assets/images/icons.png' 'google-plus_hover';
$min_facebook_name = 'min-facebook';
$min_facebook_x = 0px;
$min_facebook_y = 74px;
$min_facebook_offset_x = 0px;
$min_facebook_offset_y = -74px;
$min_facebook_width = 20px;
$min_facebook_height = 20px;
$min_facebook_total_width = 94px;
$min_facebook_total_height = 94px;
$min_facebook_image = '../../../public/assets/images/icons.png';
$min_facebook = 0px 74px 0px -74px 20px 20px 94px 94px '../../../public/assets/images/icons.png' 'min-facebook';
$min_github_name = 'min-github';
$min_github_x = 0px;
$min_github_y = 54px;
$min_github_offset_x = 0px;
$min_github_offset_y = -54px;
$min_github_width = 20px;
$min_github_height = 20px;
$min_github_total_width = 94px;
$min_github_total_height = 94px;
$min_github_image = '../../../public/assets/images/icons.png';
$min_github = 0px 54px 0px -54px 20px 20px 94px 94px '../../../public/assets/images/icons.png' 'min-github';
$min_google_plus_name = 'min-google-plus';
$min_google_plus_x = 20px;
$min_google_plus_y = 74px;
$min_google_plus_offset_x = -20px;
$min_google_plus_offset_y = -74px;
$min_google_plus_width = 20px;
$min_google_plus_height = 20px;
$min_google_plus_total_width = 94px;
$min_google_plus_total_height = 94px;
$min_google_plus_image = '../../../public/assets/images/icons.png';
$min_google_plus = 20px 74px -20px -74px 20px 20px 94px 94px '../../../public/assets/images/icons.png' 'min-google-plus';
$min_link_name = 'min-link';
$min_link_x = 20px;
$min_link_y = 54px;
$min_link_offset_x = -20px;
$min_link_offset_y = -54px;
$min_link_width = 20px;
$min_link_height = 20px;
$min_link_total_width = 94px;
$min_link_total_height = 94px;
$min_link_image = '../../../public/assets/images/icons.png';
$min_link = 20px 54px -20px -54px 20px 20px 94px 94px '../../../public/assets/images/icons.png' 'min-link';
$min_linkedin_name = 'min-linkedin';
$min_linkedin_x = 40px;
$min_linkedin_y = 54px;
$min_linkedin_offset_x = -40px;
$min_linkedin_offset_y = -54px;
$min_linkedin_width = 20px;
$min_linkedin_height = 20px;
$min_linkedin_total_width = 94px;
$min_linkedin_total_height = 94px;
$min_linkedin_image = '../../../public/assets/images/icons.png';
$min_linkedin = 40px 54px -40px -54px 20px 20px 94px 94px '../../../public/assets/images/icons.png' 'min-linkedin';
$min_twitter_name = 'min-twitter';
$min_twitter_x = 60px;
$min_twitter_y = 54px;
$min_twitter_offset_x = -60px;
$min_twitter_offset_y = -54px;
$min_twitter_width = 20px;
$min_twitter_height = 20px;
$min_twitter_total_width = 94px;
$min_twitter_total_height = 94px;
$min_twitter_image = '../../../public/assets/images/icons.png';
$min_twitter = 60px 54px -60px -54px 20px 20px 94px 94px '../../../public/assets/images/icons.png' 'min-twitter';
$twitter_name = 'twitter';
$twitter_x = 32px;
$twitter_y = 28px;
$twitter_offset_x = -32px;
$twitter_offset_y = -28px;
$twitter_width = 32px;
$twitter_height = 26px;
$twitter_total_width = 94px;
$twitter_total_height = 94px;
$twitter_image = '../../../public/assets/images/icons.png';
$twitter = 32px 28px -32px -28px 32px 26px 94px 94px '../../../public/assets/images/icons.png' 'twitter';
$twitter_hover_name = 'twitter_hover';
$twitter_hover_x = 0px;
$twitter_hover_y = 28px;
$twitter_hover_offset_x = 0px;
$twitter_hover_offset_y = -28px;
$twitter_hover_width = 32px;
$twitter_hover_height = 26px;
$twitter_hover_total_width = 94px;
$twitter_hover_total_height = 94px;
$twitter_hover_image = '../../../public/assets/images/icons.png';
$twitter_hover = 0px 28px 0px -28px 32px 26px 94px 94px '../../../public/assets/images/icons.png' 'twitter_hover';
$spritesheet_width = 94px;
$spritesheet_height = 94px;
$spritesheet_image = '../../../public/assets/images/icons.png';
$spritesheet_sprites = $facebook $facebook_hover $google_plus $google_plus_hover $min_facebook $min_github $min_google_plus $min_link $min_linkedin $min_twitter $twitter $twitter_hover;
$spritesheet = 94px 94px '../../../public/assets/images/icons.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
