/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$braziljs_name = 'braziljs';
$braziljs_x = 265px;
$braziljs_y = 0px;
$braziljs_offset_x = -265px;
$braziljs_offset_y = 0px;
$braziljs_width = 92px;
$braziljs_height = 32px;
$braziljs_total_width = 357px;
$braziljs_total_height = 259px;
$braziljs_image = '../../../public/assets/images/partners.png';
$braziljs = 265px 0px -265px 0px 92px 32px 357px 259px '../../../public/assets/images/partners.png' 'braziljs';
$casa_do_codigo_name = 'casa-do-codigo';
$casa_do_codigo_x = 95px;
$casa_do_codigo_y = 0px;
$casa_do_codigo_offset_x = -95px;
$casa_do_codigo_offset_y = 0px;
$casa_do_codigo_width = 165px;
$casa_do_codigo_height = 48px;
$casa_do_codigo_total_width = 357px;
$casa_do_codigo_total_height = 259px;
$casa_do_codigo_image = '../../../public/assets/images/partners.png';
$casa_do_codigo = 95px 0px -95px 0px 165px 48px 357px 259px '../../../public/assets/images/partners.png' 'casa-do-codigo';
$eventick_name = 'eventick';
$eventick_x = 73px;
$eventick_y = 196px;
$eventick_offset_x = -73px;
$eventick_offset_y = -196px;
$eventick_width = 107px;
$eventick_height = 29px;
$eventick_total_width = 357px;
$eventick_total_height = 259px;
$eventick_image = '../../../public/assets/images/partners.png';
$eventick = 73px 196px -73px -196px 107px 29px 357px 259px '../../../public/assets/images/partners.png' 'eventick';
$frontinbh_name = 'frontinbh';
$frontinbh_x = 95px;
$frontinbh_y = 53px;
$frontinbh_offset_x = -95px;
$frontinbh_offset_y = -53px;
$frontinbh_width = 138px;
$frontinbh_height = 31px;
$frontinbh_total_width = 357px;
$frontinbh_total_height = 259px;
$frontinbh_image = '../../../public/assets/images/partners.png';
$frontinbh = 95px 53px -95px -53px 138px 31px 357px 259px '../../../public/assets/images/partners.png' 'frontinbh';
$helabs_name = 'helabs';
$helabs_x = 0px;
$helabs_y = 155px;
$helabs_offset_x = 0px;
$helabs_offset_y = -155px;
$helabs_width = 68px;
$helabs_height = 104px;
$helabs_total_width = 357px;
$helabs_total_height = 259px;
$helabs_image = '../../../public/assets/images/partners.png';
$helabs = 0px 155px 0px -155px 68px 104px 357px 259px '../../../public/assets/images/partners.png' 'helabs';
$jchebly_name = 'jchebly';
$jchebly_x = 73px;
$jchebly_y = 155px;
$jchebly_offset_x = -73px;
$jchebly_offset_y = -155px;
$jchebly_width = 116px;
$jchebly_height = 36px;
$jchebly_total_width = 357px;
$jchebly_total_height = 259px;
$jchebly_image = '../../../public/assets/images/partners.png';
$jchebly = 73px 155px -73px -155px 116px 36px 357px 259px '../../../public/assets/images/partners.png' 'jchebly';
$rccomunicacao_name = 'rccomunicacao';
$rccomunicacao_x = 0px;
$rccomunicacao_y = 109px;
$rccomunicacao_offset_x = 0px;
$rccomunicacao_offset_y = -109px;
$rccomunicacao_width = 174px;
$rccomunicacao_height = 41px;
$rccomunicacao_total_width = 357px;
$rccomunicacao_total_height = 259px;
$rccomunicacao_image = '../../../public/assets/images/partners.png';
$rccomunicacao = 0px 109px 0px -109px 174px 41px 357px 259px '../../../public/assets/images/partners.png' 'rccomunicacao';
$wordcamp_name = 'wordcamp';
$wordcamp_x = 0px;
$wordcamp_y = 0px;
$wordcamp_offset_x = 0px;
$wordcamp_offset_y = 0px;
$wordcamp_width = 90px;
$wordcamp_height = 104px;
$wordcamp_total_width = 357px;
$wordcamp_total_height = 259px;
$wordcamp_image = '../../../public/assets/images/partners.png';
$wordcamp = 0px 0px 0px 0px 90px 104px 357px 259px '../../../public/assets/images/partners.png' 'wordcamp';
$spritesheet_width = 357px;
$spritesheet_height = 259px;
$spritesheet_image = '../../../public/assets/images/partners.png';
$spritesheet_sprites = $braziljs $casa_do_codigo $eventick $frontinbh $helabs $jchebly $rccomunicacao $wordcamp;
$spritesheet = 357px 259px '../../../public/assets/images/partners.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
