.container {
  width 1140px
  margin 0 auto
}

.minasdev-socials {
    display block

    .minasdev-social{
        display inline-block
        vertical-align middle
        margin 0 15px
    }

    .minasdev-social-link {
        display block
        height 0
        overflow hidden
        background-repeat no-repeat
        background-size contain

        &.github {
            width 32px
            padding-top 26px
            background-image url("/assets/images/svgs/github.svg")
            &:hover, &.active{
              background-image url("/assets/images/svgs/github_hover.svg")
            }
        }

        &.facebook{
            width 32px
            padding-top 26px
            background-image url("/assets/images/svgs/facebook.svg")
            &:hover, &.active{
              background-image url("/assets/images/svgs/facebook_hover.svg")
            }
        }

        &.twitter {
            width 32px
            padding-top 26px
            background-image url("/assets/images/svgs/twitter.svg")
            &:hover, &.active{
              background-image url("/assets/images/svgs/twitter_hover.svg")
            }
        }

    }
}
