.footer-page{
    background-color #242424
    padding 10px 0
    text-align center
    .copyright {
        font-family "PN-SemiBold"
        display block
        color #fff
        line-height 20px
        text-align center
        font-size 12px
    }
}
