.header-page {
    background-color #fff
    position fixed
    width 100%
    z-index 4
    border-bottom 3px solid #c84c3d
    display none

    .container{
        position relative
    }

    .logo {
        display block
        position absolute
        left 55px
        top 0

        .logo-link {
            display block
            overflow hidden
            height 0
            width 130px
            padding-top 130px
            background-image url("/assets/images/svgs/minasdev-logo.svg")
            background-position 0 0
            background-size 100% auto
            background-repeat no-repeat
            transition all 0.3s ease
        }
    }

    &.on-top{
        .logo {
            .logo-link {
                width 170px
                padding-top 170px
            }
        }
    }
}
